
<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Attendance Management System</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [opened]="sidenavOpen"
    mode="side"
    class="sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="64">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="navigateTo('dashboard')" class="nav-button">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigateTo('employees')" class="nav-button">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Employees</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigateTo('attendance')" class="nav-button">
          <mat-icon matListItemIcon>check_circle</mat-icon>
          <span matListItemTitle>Attendance</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigateTo('leave-request')" class="nav-button">
          <mat-icon matListItemIcon>event_note</mat-icon>
          <span matListItemTitle>Leave Requests</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigateTo('leave-approval')" class="nav-button">
          <mat-icon matListItemIcon>assignment</mat-icon>
          <span matListItemTitle>Leave Approval</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>